@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
}
:root {
  --bg-color: #080808;
  --second-bg-color: #131313;
  --text-color: white;
  --main-color: #0cc7ed;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 9%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}
.logo:hover {
  transform: scale(1.1);
}
.logo span {
  text-shadow: 0 0 25px var(--main-color);
}
.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 6rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}

section {
  min-height: 100vh;
  padding: 10rem 12% 10rem;
}
.home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}
.home-content {
  display: block;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  justify-content: center;
  margin-top: 1rem;
}
span {
  color: var(--main-color);
}
.logo span {
  color: var(--main-color);
}
.contact {
  padding: 10rem 12%;
  background: var(--bg-color);
}
.contact h2 {
  font-size: 8rem;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 5rem;
}
.contact form {
  max-width: 800px;
  margin: auto;
  background: var(--second-bg-color);
  padding: 4rem;
  border-radius: 1rem;
  box-shadow: 0 0 25px var(--main-color);
}
form .input-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}
.home-img {
  border-radius: 50%;
}
.home-img img {
  position: relative;
  top: 3rem;
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  animation: floatImage 4s infinite;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4.4rem);
  }
  100% {
    transform: translateY(0);
  }
}
.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}
.home-content p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
  max-width: 1000px;
}
.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  border: 2px solid var(--main-color);
  font-size: 2.5rem;
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease-in-out;
}
.social-icons a:hover {
  color: var(--text-color);
  transform: scale(1.3) translateY(-5px);
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
}
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: rgb(13, 13, 13);
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.1) translateY(-10px);
  box-shadow: 0 0 50px var(--main-color);
  color: white;
}
.btn-group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.btn-group a:nth-of-type(2) {
  background-color: rgb(25, 24, 24);
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover {
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
  color: rgb(252, 248, 248);
}

.heading {
  font-size: 8rem;
  text-align: center;
  margin: 5rem 0;
}

.education {
  padding: 100px 15px;
  background: var(--second-bg-color);
}
.education h2 {
  margin-bottom: 5rem;
}
.timeline-items {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}
.timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}
.timeline-dot {
  height: 20px;
  width: 20px;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
  position: absolute;
  left: calc(50% - 5px);
  border-radius: 50%;
  top: 11px;
}
.timeline-date {
  font-size: 20px;
  font-weight: 800;
  color: white;
  margin: 6px 0 15px;
}
.timeline-content {
  background-color: var(--bg-color);
  border: 1px solid var(--main-color);
  padding: 30px 50px;
  border-radius: 4rem;
  box-shadow: 0 0 10px var(--main-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.timeline-content:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color), 0 0 100px var(--main-color);
}
.timeline-content h3 {
  font-size: 20px;
  color: white;
  margin: 0 0 10px;
  font-weight: 500;
}
.timeline-content h3 i {
  color: var(--main-color);
  padding: 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  border: 2px solid var(--main-color);
  font-size: 2.5rem;
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease-in-out;
}
.timeline-content h3 i:hover {
  color: var(--text-color);
  transform: scale(1.3) translateY(-5px);
  box-shadow: 0 0 25px var(--bg-color);
  background-color: var(--bg-color);
}

.timeline-content p {
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
  width: 50px;
}

.services {
  background: var(--bg-color);
  color: black;
}
.services h2 {
  margin-bottom: 5rem;
  color: rgb(219, 218, 218);
}
.services-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.service-box {
  background-color: rgb(21, 20, 20);
  height: 310px;
  border-radius: 20rem;
  border: 1px solid var(--main-color);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.service-box:hover {
  background: rgb(17, 16, 16);
  color: rgb(231, 221, 221);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px var(--main-color), 0 0 100px var(--main-color);
  transform: scale(1.03);
}

.service-box .service-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 270px;
  justify-content: center;
  align-items: center;
  padding: 5rem 5rem;
}
.service-info i {
  font-size: 5rem;
  color: var(--main-color);
}

.service-info h4 {
  color: aliceblue;
  font-size: 3rem;
  font-weight: 600;
  line-height: 3;
}
.service-info p {
  color: aliceblue;
  font-size: 1.6rem;
  font-weight: 600;
  max-height: 100px;
  line-height: 1.7;
  margin: auto;
}
.project {
  background-color: var(--second-bg-color);
}
.project h2 {
  margin-bottom: 4rem;
}
.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.project-container .project-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}
.project-box img {
  width: 100%;
  transition: 0.5s ease;
  opacity: 0.7;
}
.project-box:hover img {
  transform: scale(1.1);
}
.project-box .project-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  transform: translateY(90%);
  transition: 0.5s ease;
}

.project-box:hover .project-layer {
  transform: translateY(0);
}

.project-layer .btn {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #000;
  color: #42e6ff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.project-layer .btn:hover {
  transform: scale(1.1);
  background-color: #fff;
  color: #000;
}

.project-layer h4 {
  font-size: 3rem;
}

.project-layer p {
  font-size: 2.3rem;
  margin: 0.3rem 0 1rem;
}
.project-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.project-layer a i {
  font-size: 3rem;
  color: var(--second-bg-color);
}

.input-box .input-field {
  flex: 1 1 48%;
  position: relative;
}

.input-box .input-field input,
.input-box .input-field textarea {
  width: 100%;
  padding: 1.5rem;
  background: var(--bg-color);
  border: 1px solid var(--main-color);
  border-radius: 0.5rem;
  color: var(--text-color);
  font-size: 1.6rem;
}

.input-box .input-field input:focus,
.input-box .input-field textarea:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 10px var(--main-color);
}

.input-box .input-field label {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  pointer-events: none;
  transition: 0.3s;
  color: var(--main-color);
  font-size: 1.6rem;
}

.input-box .input-field input:focus + label,
.input-box .input-field input:not(:placeholder-shown) + label,
.input-box .input-field textarea:focus + label,
.input-box .input-field textarea:not(:placeholder-shown) + label {
  top: -1.5rem;
  left: 1.2rem;
  background: var(--bg-color);
  padding: 0 0.5rem;
  font-size: 1.4rem;
}

.input-box .input-field textarea {
  height: 10rem;
  resize: none;
}

.input-box .input-field button {
  width: 100%;
  padding: 1.5rem;
  background: var(--main-color);
  border: none;
  border-radius: 0.5rem;
  color: var(--text-color);
  font-size: 1.6rem;
  cursor: pointer;
  transition: 0.3s;
}

.input-box .input-field button:hover {
  background: var(--text-color);
  color: var(--bg-color);
  box-shadow: 0 0 25px var(--main-color);
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: var(--second-bg-color);
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: var(--main-color);
}
.footer .social a {
  font-size: 25px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease-in-out;
}
.footer .social a:hover {
  transform: scale(1.2) translateY(-10px);
  background-color: var(--main-color);
  color: rgb(237, 233, 233);
  box-shadow: 0 0 25px var(--main-color);
}
.footer ul {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer ul li a {
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}
.footer ul li a:hover {
  border-bottom: 3px solid var(--main-color);
}
.footer ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer .copyright {
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
  color: white;
}

/*BREAK POINT*/

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3%;
  }

  .services {
    padding: 7rem;
  }

  .project {
    padding-bottom: 7rem;
  }

  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }
  .services h2 {
    font-size: 2.4rem;
    margin-bottom: 3rem;
  }

  .services-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .service-info h4 {
    font-size: 2rem;
  }

  .service-info p {
    font-size: 1.4rem;
  }
  .contact h2 {
    font-size: 36px;
  }
  .input-box.input-field {
    width: calc(50% - 10px);
    margin-bottom: 8px;
  }
  .field .item {
    padding: 12px; /* Decrease padding */
    font-size: 14px; /* Decrease font size */
  }
  .form button {
    padding: 10px 28px; /* Adjust button padding */
  }
  .education h2 {
    font-size: 34px;
  }
  .project h2 {
    font-size: 34px;
  }
  .services h2 {
    font-size: 34px;
  }
  .contact h2 {
    font-size: 34px;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    display: none;
  }
  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home {
    flex-direction: column;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content {
    order: 2;
  }

  .home-img img {
    width: 90vw;
    margin-top: 4rem;
  }

  .education {
    flex-direction: row;
  }
  .timeline-dot {
    height: 20px;
    width: 20px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
    position: relative;
    left: calc(50% - 5px);
    border-radius: 50%;
    top: 11px;
  }
  .timeline-items {
    max-width: 100%;
    margin: auto;
    display: block;
    flex-wrap: wrap;
    position: unset;
    grid-template-columns: repeat(2, 1 fr);
  }
  .timeline-item {
    margin-bottom: 20px;
    width: 100%;
    height: 300px;
    position: unset;
  }

  .services-container {
    grid-template-columns: repeat(2, 1 fr);
    font-size: 25%;
  }

  .service-box {
    height: 320px;
    border-radius: 5rem;
  }

  .service-box h4 {
    font-size: 20px;
  }
  .service-box p {
    font-size: 13px;
  }

  .services h2 {
    margin-bottom: 3rem;
  }

  .project h2 {
    margin-bottom: 3rem;
  }

  .project-container {
    grid-template-columns: repeat(2, 1 fr);
  }

  .contact form {
    gap: 3rem;
  }

  .contact .input-group {
    flex-direction: column;
  }

  .contact .input-box {
    flex-direction: column;
    width: 100%;
  }

  .footer .social a {
    margin: 0 5px;
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
  }

  .footer ul li {
    padding: 0 10px;
  }

  .footer ul {
    font-size: 16px;
  }
}
@media (max-width: 617px) {
  .services-container {
    grid-template-columns: 1fr;
  }
  .project-container {
    grid-template-columns: 1fr;
  }

  .timeline-content {
    grid-template-columns: 1fr;
  }

  .home-img img {
    width: 80vw;
    margin-top: 8rem;
  }
  .footer .social a {
    margin: 0 5px;
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
  }

  .footer ul li {
    padding: 0 5px;
  }

  .footer ul {
    font-size: 14px;
  }

  .footer .copyright {
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .contact .input-box input {
    width: 100%;
  }
  .contact h2 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  .contact form .input-box input,
  .contact form textarea {
    padding: 1.5rem;
    font-size: 1.6rem;
  }

  .contact form .btn {
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
  }

  .contact form {
    gap: 1.5rem;
  }

  .contact .input-group {
    gap: 1rem;
  }

  .contact .input-box input,
  .contact form textarea {
    padding: 1rem;
    font-size: 1.6rem;
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding: 0;
    text-align: left;
  }
  .timeline-dot {
    left: 2px;
    top: 0;
  }
  .timeline-content {
    margin-left: 30px;
    padding: 20px;
    align-items: center;
  }
  .timeline-content h3 i {
    margin: 0 1.5rem 0 0;
  }
  .education h2 {
    font-size: 34px;
  }
  .project h2 {
    font-size: 34px;
  }

  .services h2 {
    font-size: 34px;
  }
  .contact h2 {
    font-size: 34px;
  }
  #pre-loader {
    background-size: 100%;
  }
}
@media (max-width: 480px) {
  .education {
    padding: 50px 10px;
  }
  .timeline-date {
    font-size: 16px;
  }
  .timeline-content {
    padding: 15px;
  }
  .timeline-content h3 {
    font-size: 18px;
  }
  .timeline-content p {
    font-size: 14px;
  }
  .education h2 {
    font-size: 34px;
  }
  .project h2 {
    font-size: 34px;
  }

  .services h2 {
    font-size: 34px;
  }
  .contact h2 {
    font-size: 34px;
  }
  .field .item {
    height: 50px;
    padding: 6px; /* Further reduce padding */
    font-size: 15px; /* Further reduce font size */
  }
  .textarea-field .item {
    height: 120px;
    padding: 8px;
  }
  .form button {
    padding: 8px 20px;
  }
  #preloader {
    background: #fff url(/images/loader2.gif) no-repeat center;
    background-size: 50%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
}

#preloader {
  background: #fff url(/images/loader2.gif) no-repeat center;
  background-size: 50%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  color: #f6f3f3;
}
